*variables.json
gce_googlecompute.pem
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
jdauphant.nginx
vault.key
__pycache__
venv
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
