[Unit]
Description=Starts puma webserver
Requires=network.target

[Service]
Type=single
User=appuser
WorkingDirectory=/opt/reddit
ExecStart=/usr/local/bin/puma
Environment=DATABASE_URL=reddit-db-1:27017


[Install]
WantedBy=multi-user.target
